[Unit]
Description=First time boot config script launcher
After=network.target
[Service]
Type=simple
ExecStart=/opt/kiosk/initkio.sh
[Install]
WantedBy=multi-user.target 
